# IDE
.idea/*
!.idea/codeStyles/
!.idea/fileTemplates/
nbproject/*
src/CortexPE
src/cooldogedev/libSQL
src/cooldogedev/libPromise
resources/config.new.yml
tools/migration/Money.yml
tools/migration/players.db
