---
config-version: 4.0.4

language: en-US

cache:
  invalidation: 300 # The cache invalidation time in seconds, set to 0 to disable. (Default: 5 minutes)
  rich-rows: 100 # The number of rows to fetch from the database for the rich command, set to 0 to fetch all. (Default: 100)
  balance-command: true # Whether to cache the balance command or not. (Default: true)

currency:
  name: United States Dollar
  code: USD
  symbol: $
  formatter: compact # The currency formatter, compact or commadot
  default:
    amount: 0
    decimals: 00
  decimals: false

database:
  # The database provider, mysql or sqlite
  provider: sqlite
  # Number of threads to use for the database query processing, recommended values are 2 for mysql and 1 for sqlite
  threads: 1

  # The database connection information
  mysql:
    host: 127.0.0.1
    username: your_username
    password: password
    schema: db_name
    port: 3306

  # The database file path (relative to the plugin folder)
  sqlite:
    path: players.db
...
